JSONVAULT_API_KEY=change-this-long-random-secret
JSONVAULT_ADDR=:8080
JSONVAULT_BASE_URL=http://localhost:8080
JSONVAULT_DATA_DIR=./data
JSONVAULT_CACHE_ENTRIES=1024
JSONVAULT_MAX_BODY_BYTES=10485760
